* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lucida Console;

  
}


body {
  width: 100vw;
  height: 100vh;

  background: #79B791;
  border: 4px solid #3c7263;
  border-radius: 10px;
  user-select: none;
  -webkit-app-region: drag;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cal {
  width: 230px;
  height: 290px;
  margin: 5px;
  padding: 5px;
  

  -webkit-app-region:no-drag;
}


button,input{
  -webkit-app-region:no-drag;
  cursor: pointer;
}

.cal{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

#display{
  grid-column: span 4;
}

.equal{
  grid-row: span 2;
}

button{
  margin: 2px;
  padding: 2px;
   border: 2px solid #474869;
   border-radius: 10px;
   background-color: #3c7263;
   box-shadow: inset 5px 5px 10px #4a8868;
   color: #181827;
   font-size: 20px;
}

#display{
  height: 60px;
  border: 2px solid #474869;
  border-radius: 20px;
  text-align: end;
  color: #181827;
  font-size: 30px;
  background-color: #cae4c0;
  box-shadow: inset -5px -5px 10px #d6d9c9, inset 5px 5px 10px #98a793;

}