@font-face {
  font-family: 'Digital-7';
  src: url('Assets/digital-7/digital-7.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latin-modern-math';
  src: url('Assets/latin-modern-math/latinmodern-math.otf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'typewriter';
  src: url('Assets/typewriter/JMH\ Typewriter.otf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}



* {
  box-sizing: border-box;
}

html, body{
  overflow: hidden;
}


body {
  margin: 0;
  user-select: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-app-region: drag;

}

.button{
  -webkit-app-region: no-drag;
  cursor: pointer;
}

[name="display"]{
  -webkit-app-region: no-drag;
}

.calculator{
  padding: 0%;
  margin: 0%;
  width: 240px;
  height: 300px;
  background-image: url(Assets/cal_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.95;
}

#screen{
  padding: 0%;
  margin: 0%;
}

[name="display"]{
  display: block;
  margin: 12px auto 10px auto;
  width: 216px;
  height: 84px;
  background-color: #F8F7DB;
  border: 2px solid #44503C;
  border-radius: 12px;
  box-shadow: inset 6px 8px 11px rgba(0,0,0,0.25);
  text-align: end;
  font-size: 60px;
  font-family: 'typewriter';
}

#buttons {
  width: 216px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 35px;
  gap: 0; 
  padding: 4px;
  box-sizing: border-box; 
}

.button {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: #39432f;
  border: 1px solid #182717;
  box-shadow: 2px 3px 4px rgba(0,0,0,0.25);
  position: relative; 
  font-family: 'typewriter';
  font-size: 15px;
  color: #b8baa8;
}

#equal {
  grid-row: span 2;
  /* Fill the entire span */
  height: 100%;
}

.button:hover{
  background-color: #253523;
  color: #999a89;
  
}